<!doctype html>
<html lang="en">

<head>
  <%- include("template/head.ejs")%>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  
</head>

<body>
  <%- include("template/header.ejs")%>
  <main class="container-fluid p-0 mb-0">

    <%- include("template/navleft.ejs")%>


    <div class="float-start ms-0 row justify-content-center col-8 col-lg-8 col-md-9 col-sm-9 text-center">
<!--TEXTO DE PRESENTACION DE LA PLATAFORMA-->
      <div class="h-100 m-3 col-11 float-none col-center border border-dark border-2 overflow-hidden"
        style=" background-color:#eee8cd;max-height: 1300px;">
        <div>
        <h1> Bienvenido a Proyecto Alba</h1>
        <article><p>Somos una Academia de Preparación de Oposiciones que se diferencia al resto. Además de tus clases semanales de preparación para las Oposiciones, te presentamos
          una plataforma única para el aprendizaje y entrenamiento para tus Examenes.</p> 
          <h3>¿En qué nos diferenciamos frente a otras academias?</h3>
          <p>Nuestra academia online esta incluida en el precio de tu formación presencial, no debes pagar nada más para hacer uso de las diferentes actividades</p>
          <ul class="list-unstyled">
            <li>Examenes Tipo Test</li>
            <li>Simulacros de Cantar Temas</li>
            <li>Examenes de Desarrollo</li>
            <li>Examenes de 10 preguntas cortas</li>
            <li>Ejercicios de Tarjetas de Memoria</li>
          </ul>
          <p>No dudes en realizar los diferentes proyectos o ejercicios posibles a realizar. Animo y disfruta de tu aprendizaje</p>
        </div>
          <div class="container-fluid p-0 mb-0">
          <div class="row col-lg-12 d-none d-lg-block align-items-center text-center px-0 py-0 justify-content-center pb-3"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
            img-fluid mx-auto;" src="../img/academy.jpg"></div>
          </div>
        </article>
      </div>
      

    </div>


    <%- include("template/navright.ejs")%>




  </main>
  <%- include("template/footer.ejs")%>
</body>

</html>